

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

.card {
    height: 440px;
    width: 550px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    padding: 10px
}

.card h2 {
    margin-top: 10px;
    text-align: center
}

.input_text {
    margin-top: 20px
}

input[type="text"] {
    height: 45px;
    width: 100%;
    padding: 0 5px;
    border-radius: 10px;
    outline: 0;
    border: none;
    border: 1px solid #ccc
}

input[type="number"] {
    height: 45px;
    width: 100%;
    padding: 0 5px;
    border-radius: 10px;
    outline: 0;
    border: none;
    border: 1px solid #ccc
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px
}

button {
    height: 45px;
    width: 50%;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: 0;
    color: #fff
}

.btns {
    gap: 10px
}
#message{
    height: 95px;
}